@media (min-width: 768px) {
  .outer {
    display: flex;
  }
}

.navbar {
  border: 1px solid grey;
}
@media (min-width: 768px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 235px;
  }
}
@media (min-width: 1024px) {
  .navbar {
    width: 350px;
  }
}

.navbar__title,
.navbar__list {
  width: 100%;
}
.navbar__title,
.navbar__listItem {
  padding: 10px 20px;
}
@media (min-width: 1024px) {
  .navbar__title,
  .navbar__listItem {
    padding: 15px 30px;
  }
}
.navbar__list {
  list-style: none;
  padding: 0;
  height: 150px;
  overflow: auto;
}
@media (min-width: 768px) {
  .navbar__list {
    height: 100%;
    position: sticky;
  }
}
.navbar__listItem {
  border-top: 1px solid grey;
  font-size: 1.2em;
}
.nav-link {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 768px) {
  .content {
    margin-left: 235px;
  }
}
@media (min-width: 1024px) {
  .content {
    margin-left: 350px;
  }
}
.title {
  font-size: 1.5em;
}
.main-section {
  padding: 20px 30px;
}
.main-section > p {
  padding: 10px;
}
@media (min-width: 768px) {
  .main-section {
    padding: 30px 50px 0;
  }
  .main-section:last-child {
    padding-bottom: 30px;
  }
  .main-section > p {
    padding: 15px 20px 0;
  }
  .main-section > ul {
    padding-top: 15px;
    padding-left: 65px;
  }
}
